<h1>CONTRATOS</h1>
<%if @contracts.any? %>
  <% @contracts.each do |contract| %>
    <%= link_to contract.customer.name, contract %>
  <% end %>
<% else %>
  <p>Sem contratos cadastrados.</p>
<% end %>
